- @sources.each do |source|
  %a{:href => "#{source[0]}"}
    &gt; #{source[1]} 
  (
  %a{:href => "#{source[2]}"}
    #{source[2]}
  ) : #{source[3]}
  %a{:href => "new/#{source[0]}"}
    - if source[8] != nil
      %strong
        (#{source[8]} new posts)
    - else
      (No new posts)  	
  %br
